.advertisement {
  &_one {
    padding: 1px 14px 15px;
    border-top: 1px solid var(--gray-mid);
    border-bottom: 1px solid var(--gray-mid);
    width: calc(100% - 8px);
    @media (min-width: 600px) {
      width: 100%;
      border-bottom: none;
      padding: 1px 0px 15px;
    }
    @media (min-width: 900px) {
      padding: 14px 0 23px;
      border-top: none;
      border-bottom: 1px solid var(--gray-mid);
    }
    &__title {
      font-weight: 400;
      font-size: 11px;
      line-height: 130%;
      text-align: center;
      color: var(--gray-dark);
      padding-bottom: 2px;
      @media (min-width: 900px) {
        text-align: left;
        font-size: 21px;
        color: var(--dark);
        padding-bottom: 14px;
      }
    }
    &__ad {
      width: 100%;
      aspect-ratio: 6/5;
      background-color: var(--gray-mid);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--gray-dark);
    }
  }
  &_two {
    padding: 16px 24px 41px 16px;
    @media (min-width: 600px) {
      padding: 29px 24px 56px;
    }
    @media (min-width: 900px) {
      padding: 32px 24px 100px;
    }
    &__ad {
      width: 100%;
      aspect-ratio: 32/10;
      background-color: var(--gray-mid);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--gray-dark);
      @media (min-width: 600px) {
        width: min(727px, 100%);
        aspect-ratio: 727/90;
        margin: 0 auto;
      }
      @media (min-width: 900px) {
        width: min(970px, 100%);
        aspect-ratio: 97/25;
      }
    }
  }
}
