.newsCard {
  &_Title {
    display: flex;
    align-items: flex-start;
    gap: 6.19px;
    text-decoration: none;
    width: calc(100% - 8px);
    padding: 8px 0 18px;
    position: relative;

    font-weight: 400;
    font-size: 19px;
    line-height: 135%;
    color: var(--dark);

    @media (min-width: 600px) {
      flex-direction: column;
      gap: 6px;
      padding: 7px 0 18px;
      width: min(306px, 100%);
    }

    &:hover {
      & > p {
        color: var(--blue);
        & > span {
          color: var(--blue);
        }
      }
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--gray-mid);
      bottom: 0;
      left: 0;
    }

    & > h1 {
      font-weight: 700;
      font-size: 44px;
      line-height: 120%;
      color: var(--gray-dark);
    }
    & > p {
      padding-top: 6px;
      & > span {
        color: var(--red);
      }
    }
  }
  &_cover {
    position: relative;
    background-color: var(--gray-light);
    width: 100%;
    aspect-ratio: 164/109;
    display: flex;
    overflow: hidden;
    transition: all 0.9s ease-in-out;
    @media (min-width: 600px) {
      width: min(455px, 100%);
      aspect-ratio: 455/303;
    }
    @media (min-width: 900px) {
      width: min(632px, 100%);
      aspect-ratio: 316/211;
    }
    &:hover {
      & > img {
        transform: scale(1.2);
      }
      & > .newsCard_cover__content {
        color: var(--yellow) !important;
      }
    }
    & > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      //   margin: auto;
    }
    &__content {
      padding: 15px 8px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      background-image: var(--gradient);
      text-decoration: none;
      font-weight: 400;
      font-size: 23px;
      line-height: 130%;
      color: var(--white);
      @media (min-width: 600px) {
        padding: 27px 11px;
        font-size: 27px;
        line-height: 140%;
      }
      @media (min-width: 900px) {
        padding: 27px 18px;
      }
      & > p {
        margin-top: auto;
        & > span {
          color: var(--yellow);
        }
      }
    }
  }
  &_Small {
    display: flex;
    text-decoration: none;
    &.column {
      width: min(300px, 100%);
      flex-direction: column;
      gap: 10px;
      padding-bottom: 18px;
      @media (min-width: 900px) {
        gap: 12px;
      }
      & > .newsCard_Small__image > img {
        width: 100%;
        height: auto;
      }
      & > .newsCard_Small__content > .ago {
        @media (min-width: 600px) {
          display: none;
        }
      }
      &.borderLeft {
        @media (min-width: 900px) {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: var(--gray-mid);
            left: -17px;
          }
        }
      }
    }
    &.row {
      width: 100%;
      flex-direction: row-reverse;
      border-bottom: 1px solid var(--gray-mid);
      padding: 14px 0 17px;
      @media (min-width: 600px) {
        padding: 16px 0 15px;
      }
      @media (min-width: 900px) {
        padding: 16px 0 18px;
      }
      & > .newsCard_Small__image {
        width: min(100%, 128px);
        margin-left: 12px;
        margin-bottom: 12px;
        float: right;
        @media (min-width: 600px) {
          width: min(100%, 174px);
        }
        @media (min-width: 900px) {
          width: min(100%, 120px);
          margin-left: 6px;
          margin-bottom: 6px;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &:hover {
      p {
        color: var(--blue) !important;
        span {
          color: var(--blue) !important;
        }
      }
      p.ago {
        color: var(--gray-dark) !important;
      }
    }
    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      & > p {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: var(--dark);
        letter-spacing: -0.03em;
        & > span {
          color: var(--red);
        }
        &.ago {
          color: var(--gray-dark);
          font-size: 16px;
          line-height: 120%;
          padding-top: 18px;
          margin-top: auto;
          @media (min-width: 600px) {
            padding-top: 17px;
            margin-top: 0;
          }
          @media (min-width: 900px) {
            padding-top: 24px;
          }
        }
      }
    }
  }
}
